:root {
  --main-color: #202020;
  --second-color: #e62429;
  --third-color: white;
  --font-size: 16px;
}

body {
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: var(--font-size);
  font:800 14px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 19.2rem;
  }
}


