@import "defaultItem/Item.css";

.text{
    color: white;
    font-size: 16px;
}
.heading-level{
    color: white;
}
@media (max-width: 600px) {
    .text {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 20px;
    }
}