#series-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 30px 0;
}

.tvShowContainer {
    display: flex;
    height: 400px;
    width: 70%;
}

.tvShowContainer div:not(:first-child) {
    margin-left: 10px;
}

#series-container button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #e62429;
    background: white ;
    font:800 14px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    border: transparent;
    clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
    font-size: 0.9rem;

}

#series-container button:hover {
    cursor: pointer;
    background: gray;
}
